@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Borel&family=Cherry+Bomb+One&family=Lobster&family=Oswald&family=Poppins:wght@100&family=Roboto:ital,wght@1,900&family=Teko:wght@300&display=swap');


*{
    box-sizing: border-box;
    overflow: hidden;
}

body{
    background-color: skyblue;
}


#top{
    margin-left: 50px;
    float: left;
    font-size: 3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#change{
    font-size: 3em;
    margin-left: 50px;
    float: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#change::after{
    content: "";
    animation: spin 5s linear ;
}


#top::after{
    content: "";
    animation: color212 4s linear;
}







#abbme ul{
    font-size: 0.7em;
}
#abbme li{
    font-size: 20px;
}

li:hover{
    color: yellow;
}
#pik{     
    height: 300px;
    width: 300px;
    border-radius: 400px;
    float:left;
    margin-top: 50px ;
    margin-right: 100px;
    margin-left: 50px;
}

#aboutme1{
    width: 50%;
    float: right;
    border: 2px solid cornflowerblue;
    border-radius: 20px;
}
#aboutme1 ul{
    font-family: borel;
    color: blueviolet;
    font-size: 2em;
}
#aboutme1 li{
    font-family: bebas Neue;
    font-size: 30px;

}
tr{
    font-family: roboto;
}

tr:hover{
    color: magenta;

}
#para{
    width: 35%;
    margin-top: 20px;
    height: 400px;
    float: left;
    padding: 10px;  
    overflow: hidden;  
    font-family: oswald;
    font-size: 2em;
    
    border: 2px solid rgb(41, 145, 177);

    border-radius: 30px;
}

#kontekt li{
    padding: 10px;
    font-size: 20px;
    padding-bottom: 20px;
    font-family: oswald;
}
#kontekt{
    padding-bottom: 20px;

}
#kontekt li:hover{
    color: khaki;
    font-size: 30px;
}

a{
    text-decoration: none;
    color:navy;
}
#kontekt a:hover{
    color:darkblue;

}
#hidd{
    display: none;
}
#hid:hover #hidd{
    display: block;
}
#hid{
    color:red;
    cursor: grab;
}
#linkd{
    color: blue;
}
#benn{
    color: red;
}
#benn :hover{
    color: white;
}
#hellobar{
    padding:30px;
    font-size: larger;

    margin-top: 100px;
    border: 2px solid rgb(225, 231, 233);
    width: 18%;
    font-family: lobster;
    border-radius: 40px;
}
#benhid{
    display:none;
}
#benn:hover #benhid{
    display: block;
}


@keyframes spin {
    0%{
        content: "Ab";

    }
    10%{
        content:"hi"
    }
    20%{
        content: "sh";
    }
    30%{
        content: "ek";
    }
    40%{
        content: "Ne";
    }
    50%{
        content: "gi";
    }
    70%{
        content: "here";
    }
    90%{
        content: "Abhishek Negi here";
    }
    
    
}
@keyframes color212{
    0%{ content: "HI";
        color:violet;
 ;
    }

    20%{
        content: "hey";
        color: indigo;}
    40%{content: "wassup";
        color: blue;}
    60%{content: "howdy";
        color: green;}
    80%{content: "hello";
        color: red;}
    100%{content: "hi";
        color: #ffffff;}
}
#bigtext li{
    font-size: 20px;
    color: black;
}
#foot{
    padding: 40px;
    margin-top: 500px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}